In [1]:
import sqlalchemy
import pandas as pd

In [2]:
engine = sqlalchemy.create_engine("postgresql+psycopg2://dsaw_usr:ds4w_u53r#@solcomp.postgres.database.azure.com:5432/dsaw")

In [3]:
query_ventas_short = """
select
	fecha_inicio_mes as fecha,
	producto_sk, 
	sum(unidades_estandar) as unidades_vendidas, 
	sum(ventas_valor) as valor_vendido
from datos.ventas
group by producto_sk, fecha_inicio_mes
order by producto_sk asc, fecha_inicio_mes asc;
"""
ventas_short = pd.read_sql(query_ventas_short, engine)
ventas_short.shape

(308228, 4)

In [4]:
ventas_short.to_csv("ventas_short.csv", index=False)

In [5]:
query_ventas_long = """
with ventas as (
	select
		fecha_inicio_mes as fecha,
		producto_sk, 
		categoria_sk,
		sum(unidades_estandar) as unidades_vendidas, 
		sum(ventas_valor) as valor_vendido
	from datos.ventas
	group by producto_sk, categoria_sk, fecha_inicio_mes
	order by producto_sk asc, fecha_inicio_mes asc
)
select
	v.fecha,
	v.producto_sk,
	v.unidades_vendidas,
	v.valor_vendido,
	v.categoria_sk,
	cat.supercategoria,
	cat.subcategoria,
	prod.variedad
from ventas v
inner join datos.categorias cat
	on v.categoria_sk = cat.categoria_sk
inner join datos.producto prod
	on v.producto_sk = prod.producto_sk;
"""
ventas_long = pd.read_sql(query_ventas_long, engine)
ventas_long.shape

(308692, 8)

In [6]:
ventas_long.to_csv("ventas_long.csv", index=False)

In [7]:
query_ventas_cadena = """
with ventas as (
	select
		fecha_inicio_mes as fecha,
		producto_sk, 
		categoria_sk,
		pos_sk,
		sum(unidades_estandar) as unidades_vendidas, 
		sum(ventas_valor) as valor_vendido
	from datos.ventas
	group by producto_sk, categoria_sk, pos_sk, fecha_inicio_mes
	order by producto_sk asc, fecha_inicio_mes asc
)
select
	v.fecha,
	v.producto_sk,
	v.unidades_vendidas,
	v.valor_vendido,
	v.categoria_sk,
	cat.supercategoria,
	cat.subcategoria,
	pos.cadena,
	prod.variedad
from ventas v
inner join datos.categorias cat
	on v.categoria_sk = cat.categoria_sk
inner join datos.pos pos
	on v.pos_sk = pos.pos_sk
inner join datos.producto prod
	on v.producto_sk = prod.producto_sk;
"""

ventas_cadena = pd.read_sql(query_ventas_cadena, engine)
ventas_cadena.shape

(11380515, 9)

In [8]:
ventas_cadena.to_csv("ventas_cadena.csv", index=False)

Potencial uso:

Fecha 

producto_sk (Pronostico por producto)

ventas_unidades/ventas_valor

categoria

supercategoria (Pronostico por cada tipo de categoria)

subcategoria

cadena (Pronostico por cadena, menor prioridad) (ESTO CAUSA UNA GRAN CANTIDAD DE ROWS)

variedad (Pronostico por variedad, posiblemente similar a categoria)

In [3]:
normal = """
with ventas as (
	select
		fecha_inicio_mes as fecha,
		producto_sk, 
		categoria_sk,
		sum(unidades_estandar) as unidades_vendidas, 
		sum(ventas_valor) as valor_vendido
	from data_normalizada
	group by producto_sk, categoria_sk, fecha_inicio_mes
	order by producto_sk asc, fecha_inicio_mes asc
)
select
	v.fecha,
	v.producto_sk,
	v.unidades_vendidas,
	v.valor_vendido,
	v.categoria_sk,
	cat.supercategoria,
	cat.subcategoria,
	prod.variedad
from ventas v
inner join datos.categorias cat
	on v.categoria_sk = cat.categoria_sk
inner join datos.producto prod
	on v.producto_sk = prod.producto_sk;
"""
ventas_norm = pd.read_sql(normal, engine)
ventas_norm.shape

(213872, 8)

In [4]:
ventas_norm.head(10)

,fecha,producto_sk,unidades_vendidas,valor_vendido,categoria_sk,supercategoria,subcategoria,variedad
0,2020-07-01,35429,1.15,10.54,263,d703a0fa5b43ef3070c3007032401e5d,2e13624f1fb4828cd058e56c7ecc1ab5,Carne
1,2020-08-01,35429,5.57,49.70,263,d703a0fa5b43ef3070c3007032401e5d,2e13624f1fb4828cd058e56c7ecc1ab5,Carne
2,2020-09-01,35429,6.06,54.52,263,d703a0fa5b43ef3070c3007032401e5d,2e13624f1fb4828cd058e56c7ecc1ab5,Carne
3,2020-10-01,35429,6.30,56.76,263,d703a0fa5b43ef3070c3007032401e5d,2e13624f1fb4828cd058e56c7ecc1ab5,Carne
4,2020-11-01,35429,9.06,81.69,263,d703a0fa5b43ef3070c3007032401e5d,2e13624f1fb4828cd058e56c7ecc1ab5,Carne
5,2020-12-01,35429,15.94,135.24,263,d703a0fa5b43ef3070c3007032401e5d,2e13624f1fb4828cd058e56c7ecc1ab5,Carne
6,2021-01-01,35429,9.42,74.21,263,d703a0fa5b43ef3070c3007032401e5d,2e13624f1fb4828cd058e56c7ecc1ab5,Carne
7,2021-02-01,35429,13.22,104.11,263,d703a0fa5b43ef3070c3007032401e5d,2e13624f1fb4828cd058e56c7ecc1ab5,Carne
8,2021-03-01,35429,22.68,181.95,263,d703a0fa5b43ef3070c3007032401e5d,2e13624f1fb4828cd058e56c7ecc1ab5,Carne
9,2021-04-01,35429,26.49,218.16,263,d703a0fa5b43ef3070c3007032401e5d,2e13624f1fb4828cd058e56c7ecc1ab5,Carne

In [5]:
ventas_norm.to_csv("ventas_normalizadas.csv", index=False)